<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <div class="header">
        <h1>Welcome to GoApp</h1>
        {% comment %} <div class="icon-container">
            <div class="icons">
                <img src="{% static 'icon/1234.jpg' %}" alt="Image">
            </div>
        </div> {% endcomment %}
    </div>
    
       
    <p>
        GoApp is your one-stop solution for all your buying and selling needs within your university community. 
        Whether you're looking for affordable textbooks, second-hand furniture, or just want to make some extra cash by selling items you no longer need, GoApp is here to help you.
    </p>

    <div class="form-container">
        <form method="POST" action="{% url 'myapp:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="Username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>

            <!-- Display messages, if any -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Registration Link -->
            <h2>Don't have an account?</h2>
            <a href="{% url 'myapp:register' %}">Register</a>
    </div>
</body>
</html>
