<!-- templates/myapp/product_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <div class="profile-container">
        <div class="header1">
            <h1>{{ product.name }}</h1>
            <a href="{% url 'myapp:product_list' %}">Back to Product List</a>
        <div/>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% endif %}
    </div> 
    
    
</body>
</html>
